<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Lee-chat</title>
<script type="text/javascript" src="javascripts/jquery.min.js"></script>
<script type="text/javascript" src="javascripts/jquery.cookie.js"></script>
<script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="javascripts/chat.js"></script>
<link type="text/css" rel="stylesheet" href="stylesheets/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="stylesheets/chat.css">
</head>
<body>
  <div class="container row">
    <div id="content" class="col-md-10">
      <div id="content_show">
        <div id="contents"></div>
      </div>
      <div id="content_saying">
        <!--<div id="toolbar"></div>-->
        <div id="input_content" contenteditable="true" class="col-md-11"></div>
          <button id="say" class="btn btn-success col-md-1">发送</button>
        <div id="sayingto" class="alert alert-warning" role="alert">你好 <span id="from"></span> ，你正在对 <span id="to"></span> 说</div>
      </div>
    </div>
    <div id="users_online" class="col-md-2">
      <div id="usersbar">
        <div id="user_label">在线用户</div>
        <div id="users_list">
          <ul id="list" class="list-group"></ul>
        </div>
      </div>
    </div>
  </div>
</body>
</html>